<div class="filtros">
  <input [(ngModel)]="searchText" placeholder="Nombre (ej. Rick)" />
  <select [(ngModel)]="status">
    <option value="">Todos los estados</option>
    <option value="alive">Vivo</option>
    <option value="dead">Muerto</option>
    <option value="unknown">Desconocido</option>
  </select>
  <input [(ngModel)]="species" placeholder="Especie (ej. Human)" />
  <select [(ngModel)]="gender">
    <option value="">Todos los géneros</option>
    <option value="male">Masculino</option>
    <option value="female">Femenino</option>
    <option value="genderless">Sin género</option>
    <option value="unknown">Desconocido</option>
  </select>
  <button (click)="aplicarFiltro()">Filtrar</button>
</div>



<div class="contenedor-personajes">
  @for (character of ListadoPersonajes; track character.id) {
    <div>
      <app-character [personajes]="character"></app-character>
    </div>
  } @empty {
    <p *ngIf="!isLoading && !errorMessage">No existen personajes</p>
  }
</div>