.tarjeta-personaje {
  border: 2px solid #00f5d4;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #1c1c1c;
  color: #fff;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 245, 212, 0.5);

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 255, 0, 0.6);
  }

  img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  p {
    margin: 0.3rem 0;
    font-size: 0.95rem;
  }

  .detalles,
  .editar {
    display: inline-block;
    margin-top: 0.8rem;
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.2s, color 0.2s;
  }

  .detalles {
    background: #66fcf1;
    color: #1f2833;

    &:hover {
      background: #2ecc71;
      color: #fff;
    }
  }

  .editar {
    background: #45a29e;
    color: #1f2833;

    &:hover {
      background: #2ecc71;
      color: #fff;
    }
  }
}
